
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    background-color: white;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif; /* Adjust heading fonts */
    color: #2acb32; /* Adjust heading color */
}

h3, p {
    color: #242e40; /* Adjust paragraph color */
}

/* ... (other existing styles) ... */

.book, .join {
    background-color: #5f93cf; /* Adjust button background color */
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    text-decoration: none;
}

.book:hover, .join:hover{
    background-color: #e1e7ce;
    color: #6f7364;
}

#hero-msg h1, #hero-msg h4 {
    color: rgb(164, 214, 15);
    text-align: center;
}
#hero-img {
    width: 100%;
    text-align: center;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;


}   
#hero-msg h4 {
    color: white;
    font-size: 200%;
}   

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
/*----------MAIN------*/
main section {
    text-align: center;
}

/* Add these styles to create the grid layout */
.grid-container {
    grid-gap: 20px;  /* Space between grid items */
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

#Home {
    display:grid;
    grid-column: 1/2;
    grid-row:1/2;
    padding: 10%;
    
}


#Home .card-img{
    width: 100%;
}
#servicesh{
    display:grid;
    grid-column: 2/3;
    grid-row:1/2;
    padding: 10%;

    

}

#servicesh .card-img{
    width: 100%;
}
/*-----ABOUT-------*/
#about{
    grid-template-rows: 1fr 1fr;
    
}
#company-overview{
    grid-row: 1/2;
    grid-column: 1/2;
    padding: 5% 20%;


}
#commitment{
    grid-row: 2/3;
    grid-column: 1/2;
    padding: 5% 20%;

}
#company-overview .card-img, #commitment .card-img {
    width: 100%;

}  

header {
    background-color:rgb(95, 147, 207);
    display: grid;
    grid-template-columns: 150px auto;
}

/*------services-----*/

#services-s {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    padding-top: 20px;
    margin: 30px;
}

#services-s h1 {
    grid-row: 1/2;
    grid-column: 1/3;
    padding: 10px 20%;
    text-align: center;
    margin: 30px;
    


}

#move-out{
    grid-row: 2/3;
    grid-column: 1/2;
    padding: 10px;
    
}


#deep-cleaning{
    grid-row: 2/3;
    grid-column: 2/3;   
}
#residential{
    grid-row: 3/4;
    grid-column: 1/3;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a:hover {
    background-color: black;
    color: #d9c2a3;
} 
nav a {
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding: 35px;
    
    
    text-decoration: none;
     
}

.icon {
    width: 80px;
    padding-top: 10px;
}

.logo {
    width: 80px;
    border-radius: 50%;
}
.move-card, .deep-card, .residential-card{
    margin: 200px 0;

}
.move-card{
    
    
    grid-column: 2/4;
    grid-row: 2/3;
}
.deep-card{
    
    grid-column: 7/5;
    grid-row: 2/3;
    
}
.residential-card{
    
    grid-column: 4/5;
    grid-row: 2/3;
}
#background {
    background-color: rgba(211, 224, 202, 0.7); 

    grid-column: 1/11;
    grid-row: 4/9;
}

.moveDown {
    margin-top: 3em;
}
h1{
    color: #2acb32;
    font-size: 300%;
}

footer {
    background-color: rgb(95, 147, 207); 
    padding: 25px 50px;
    color: white;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer p {
    font-size:  1.2em;

}
footer .social img { 
    padding-top: 15px;
}
footer a{
    color: #d8ddc9;
    text-decoration: none;
}
footer a:hover{
    color: aqua;
    text-decoration: underline;
}
h2 {
    margin: 0;
    color: rgb(95, 147, 207);
}
h4{
    
    color: rgb(95, 147, 207);
}
  

.book:hover, .join:hover{
    background-color: #e1e7ce;
    color: #6f7364;
}
 
.card-img {
    border: 10px solid rgb(95, 147, 207);
    width: 40%;
    
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
main section img {
    box-sizing: border-box;
}
.commitment{
    grid-column: 3/4;
    grid-row: 2/3;

}

.msg h2{
    color: #d7bb9b;
    font-family: Arial, Helvetica, sans-serif;
}
.msg p {
    font-size: 0.8em;
    padding-bottom: 15px;
    color: #d7bb9b;
    
}

#logo_link { 
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.para{
    border-radius: 2px;
    margin: 30px
}




@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
   
    footer {
        margin-top: 25px;
    }
}
form.form-example {
    display: table;
  }
  
  div.form-example {
    display: table-row;
  }
  
  label,
  input {
    display: table-cell;
    margin-bottom: 10px;
  }
  
  label {
    padding-right: 10px;
  }
  