container {
    max-width: 1600px;
    margin: 0 auto;
    
}
nav a,
#hero-msg h1,
#hero-msg h4,
.button-box,
main section {
    text-align: center;
}
#background {
    height: 725px;
    background-color: #3f2c05;
}

body {
    background-color: #dcd1d1; 
}
header {
    background-color:rgba(20,30,13, .7);
}

#hero-img {
    width: 100%;
}

nav a:hover {
    background-color: black;
    color: #d9c2a3;
} 
.icon {
    width: 80px;
}
.book,
.join {
    background-color: #e6c685; 
}
.logo {
    width: 10%;
}
hero-img {
    
    text-align: center;

}

#background {
    background-color: rgba(211, 224, 202, 0.7); 
}

.msg {
    background-color: rgba(20, 30, 13, 0.7); 
}

footer {
    background-color: rgba(20, 30, 13, 0.7); 
}
body {
    background-color: #fcfbfb;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}
  
.home-title {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
  }
  nav a {
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding: 35px;
}
  .book, .join {
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
}
  .book, .join {
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.card-img {
    border: 10px solid #d9c2a3;
}
main section img {
    box-sizing: border-box;
}
.msg {
    background-color: #6f7364;
    line-height: 1.5em;
  }