body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: rgb(23, 127, 191);
  overflow: hidden;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: #45a049;
}

.main-content {
  padding: 50px;
  text-align: center;
}
.icon {
  width: 80px;
  padding-top: 10px;
}
footer {
  background-color: rgb(23, 127, 191);
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer p {
  font-size:  1.2em;

}
footer .social img { 
  padding-top: 15px;
}
footer a{
  color: #d8ddc9;
  text-decoration: none;
}
footer a:hover{
  color: aqua;
  text-decoration: underline;
}
