body {
    text-align: center;
  }
  
img {
    width: 10%;
    height: 10%;
}
nav {
    background-color: #fca6c9;
    padding: 10px;
  }
p {
    width: 80%;
    text-align: center;
}
a {
    font-size: 1.5em;
}
nav {
    background-color: #fca6c9;
    padding: 10px;
  }